<%= form_with(model: @recipe, local: true) do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <p>
        <%= pluralize(@recipe.errors.count, "error") %> prevented this recipe from saving:
      </p>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">
    <%= form.label :title, input_html: {class: 'form-control'} %>
    <%= form.text_field :title, id: :recipe_title, input_html: {class: 'form-control'} %>
  </div>
  <div class="panel-body">
    <%= form.label :description, input_html: {class: 'form-control'} %>
    <%= form.text_area :description, id: :recipe_description, input_html: {class: 'form-control'} %>
  </div>

  <div class="btn btn-primary">
    <%= form.submit %>
  </div>
<% end %>
