<div class="main_content">
	<div id="recipe_top" class="row">
		<div class="col-md-4">
				<% if @recipe.image.attached? %>
					<%= image_tag @recipe.image_variant, class: 'recipe_image' %>
				<% end %>
		</div>
		<div class="col-md-8">
			<div id="recipe_info">
				<h1><%= @recipe.title %></h1>
				<p class="description"><%= @recipe.description %></p>
				<!-- <p><br>Submitted by <%= @recipe.user.email %></p> -->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div id="ingredients">
				<h2>Ingredients</h2>
				<ul>
					<% @recipe.ingredients.each do |ingredient| %>
						<li><%= ingredient.name %></li>
					<% end %>
				</ul>
			</div>
		</div>

		<div class="col-md-6">
			<div id="directions">
				<h2>Directions</h2>
				<ul>
					<% @recipe.directions.each do |direction| %>
						<li><%= direction.step %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="btn btn-default">
				<%= link_to "Back", root_path %>
			</div>
		<% if user_signed_in? %>
			<div class="btn btn-default">
				<%= link_to "Edit", edit_recipe_path %>
			</div>
			<div class="btn btn-default">
				<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"} %>
			</div>
		<% end %>
		</div>
	</div>
</div>