<!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav class="navbar navbar-default">
  		<div class="container">
    		<p class="navbar-brand"> <%= link_to "Recipe Box", root_path %></p>
    		<ul class="nav navbar-nav navbar-right">
      			<li><%= link_to "New Recipe", new_recipe_path %></li>
      			<li><%= link_to "Sign Out", root_path %></li>
    		</ul>
  		</div>
	</nav>

	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "alert" %>
		<% end %>
		<%= yield %>
	</div>

  </body>
</html>
